---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('03-07-2023')}
	updatedDate={new Date('03-07-2023')}
	heroImage="/mugshot.png"
>
	<p>
		Hello Gellow, i'am GamingOnInsulin aka (Jordy Weerwag),<br/>
		I live in the Netherlands. i like to share my ideas with the world as much as possible.
		And i like it doing it this way.
		<br/><br/>
		what can i do (coding wise)?<br/>
		- HTML/CSS/JS (BASIC)<br/>
		- Python (BASIC)<br/>
		- JSON (intermediate)
		<br/><br/>
		what you can suspect from me ?<br/>
		- For starters you can take a look at my Projects<br/>
		To see what i've made and aslo currently working on.<br/>
		- Aso check out my delicious Recipes
	</p>
</Layout>
