---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Hello Gellow, Gamers!</h1>
			<p>
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque iure optio aspernatur consectetur tempore vero cum sint provident, necessitatibus laudantium dolorum. Deleniti illum laboriosam impedit. Officia nemo ipsa culpa sit!<br/><br/>
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque iure optio aspernatur consectetur tempore vero cum sint provident, necessitatibus laudantium dolorum. Deleniti illum laboriosam impedit. Officia nemo ipsa culpa sit!<br/><br/>
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque iure optio aspernatur consectetur tempore vero cum sint provident, necessitatibus laudantium dolorum. Deleniti illum laboriosam impedit. Officia nemo ipsa culpa sit!<br/><br/>
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque iure optio aspernatur consectetur tempore vero cum sint provident, necessitatibus laudantium dolorum. Deleniti illum laboriosam impedit. Officia nemo ipsa culpa sit!<br/><br/>
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque iure optio aspernatur consectetur tempore vero cum sint provident, necessitatibus laudantium dolorum. Deleniti illum laboriosam impedit. Officia nemo ipsa culpa sit!<br/><br/>
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque iure optio aspernatur consectetur tempore vero cum sint provident, necessitatibus laudantium dolorum. Deleniti illum laboriosam impedit. Officia nemo ipsa culpa sit!<br/><br/>
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque iure optio aspernatur consectetur tempore vero cum sint provident, necessitatibus laudantium dolorum. Deleniti illum laboriosam impedit. Officia nemo ipsa culpa sit!<br/><br/>
			</p>
		</main>
		<Footer />
	</body>
</html>
